*{
    margin: 0;
    padding: 0;
}

.tudo{
    background-image: linear-gradient(blue,rgb(66, 75, 199),rgb(66, 75, 199),blue);
    height: 100vh;
    color: white;
    display: grid;
    justify-items: center;
    align-items: center;   
}

.calculadora{
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.753);
    position: absolute;
    padding: 10px;
    border-radius: 15px;
    margin: 3px;
}

button{
    cursor: grab;
    font-size: 25px;
    height: 40px;
    width: 40px;
}

button:hover{
    background-color: grey;
}

#igual{
    height: 83px;
}

#zero{
    width: 83px;
}

p{
    background-color: white;
    color: black;
    height: 30px;
    width: 98%;
    border-radius: 4px;
    margin: 1%;
    text-align: right;
}

h2{
    color: white;
    margin-bottom: 5%;
    text-align: center;
}

h5{
    columns: 1;
    grid-row-end: 50;
}
